.container {
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .left {
        padding-left: 20px;
        padding-right: 10px;
        width: 50%;
        height: 100%;
        color: #36384d;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        h3 {
            font-size: 50px;
            margin-top: 20px;
        }
        p {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .list {
            display: flex;
            gap: 15px;

            h4 {
                font-size: 14px;
                font-weight: 500;
            }
        }
        .email {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            position: relative;

            label {
                font-size: 14px;
                font-weight: 500;
            }
            input {
                border: 1px solid #36384d;
                padding:10px 20px;
                outline: none;
                margin-top: 5px;
                border-radius: 5px;
            }
            .error {
                right: 0;
                color: red;
                font-size: 14px;
                position: absolute;
            }
        }
        button {
            border: none;
            margin-top: 20px;
            width: 90%;
            height: 40px;
            border-radius: 5px;
            color: white;
            background: linear-gradient(to right, #36384d, #36384d);
            cursor: pointer;
            transition: .3s;

            &:hover {
                background: linear-gradient(to right, red, orange);
            }
        }
    }
    .right {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}

@media (max-width:600px) {
    .container {
        padding-top: 200px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;

        .right {
            width: 90%;
            height: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .left {
            width: 90%;
        }

    }
}